@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Barrio&family=Freckle+Face&display=swap');



body {
    background-color:#aef0c7;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

main section img {
    box-sizing: border-box;
}

#hero-img {
    width: 100%;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
}

.icon {
    padding-top: 10px;
}

.icon, .logo {
    width: 80px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Atma', Georgia, 'Times New Roman', Times, serif;
}

nav a, #hero-msg h1, #hero-msg h4, .button-box, main {
    text-align: center;
}

header {
    background-color: #F7B40E;
}

nav a {
    color:black;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #EE6F2D;
    color: white;
}

.book, .join {
    background-color:#ec29ab;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 15px;
}

.mountains {
    margin: 100px 0;
}

.book:hover, .join:hover {
    background-color: #F7B40E;
    color: black;
}

#background {
    background-color: #6CDCE6;
    height: 725px;
    margin-bottom: 15px;
}

.home-grid h2 {
    font-family: 'Freckle Face', 'Garamond', serif;
}

.msg {
    background-color: #6CDCE6;
    line-height: 1.5em;
    padding: 35px;
}

.home-title {
    color:#EE6F2D;
    font-family: 'Barrio', 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 10px;

}

.card-img {
    border-radius: 60px;
    border: 10px solid #EE6F2D;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

h4 {
    color:#ec29ab;
}

.msg h2 {
    color:white;
    font-family: 'Barrio', 'Courier New', Courier, monospace;
}

.msg p {
    color:#ec29ab;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #F7B40E;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color:black;
    text-decoration: none;
}

footer a:hover {
    color:#ec29ab;
}

footer .social img {
    padding-top: 15px;
}