#big {
    width: 100%;
}

body {
    background-color: gray;
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.rounded_border {
    display: inline;
    width: 200px;
    border-radius: 50%;
    border: 20px rgb(49, 49, 49) solid;
    margin: 20px 50px;
}

