body {
    background-color: steelblue;

}

h1 {
    font-size: 4em;
    color: white;
    margin: 0 auto;
    text-align: center;
}

h1:hover {
    color: black;
}

.small-white {
    margin: 0 auto;
    text-align: center;
    color: white;
    width: 50%;
    font-size: 1em;
    padding: 10px;
}

li {
    width: 50%;
    margin: 0 auto;
}

img {
    display: block;
    width: 20%;
    margin: 0 auto;
    text-align: center;
    padding: 25px;
}

.big-quote {
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 2em;
    width: 40%;
    line-height: 130%;
}

.small-black {
    margin: 0 auto;
    text-align: center;
    color: black;
    width: 40%;
    padding: 25px;
}