#big {
    width: 100%;
}

body {
    background-color: gray;
    margin: 0;
    padding: 0;
}

.rounded_border {
    width: 20%;
    border-radius: 50%;
    border: 20px rgb(49, 49, 49) solid;
    margin: 20px 50px;
}

div {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;

}